html {
    background-color: rgb(59, 58, 58);
}

body {
    min-height: 100vh;
    width: 50%;
    margin: auto;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    background-color: #1F2937;
    padding: 8px 100px 80px;
}

a, header p {
    text-decoration: none;
    font-size: 18px;
    font-weight: 50;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav, .content {
    display: flex;
    justify-content: space-between;
}
.content {
    gap: 15px;
}


.sec1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.sec2 img {
    width: 358px;
    height: auto;
    color: #F9FAF8;
}

.description {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

h2 {
    font-size: 36px;
}

.first-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bold;
}

figure img {
    width: 100px;
    height: 100px;
    border: 3px solid rgb(135, 135, 243);
    border-radius: 15px;
}

figcaption {
    width: 100px;
    margin: auto;
}

.middle {
    text-align: center;
}

.figures {
    display: flex;
    justify-content: center;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 30px;
}

blockquote {
    width: 600px;
    margin: auto;
}

.confucius {
    text-align: right;
}

.quote {
    font-size: 19px;
    font-weight: 0;
    font-style: italic;
    color: #1F2937;
}

.bottom {
    padding: 60px 100px;
}

.container {
    padding: 30px 60px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container div p {
    padding: 0;
    margin: 0;
    color: white;
}

.action {
    font-size: 13px;
    font-weight: 0;
}

.second-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}